.vscode/
*.out
*.o
*.exe
*.yy.c
y.tab.*
out
Symbol Table/*.txt
Symbol Table/test/*
Symbol Table/stress.cpp
Lexical Analyzer/*.txt
Lexical Analyzer/*.c
Syntax and Semantic Analyzer/exampleskeleton/
Syntax and Semantic Analyzer/democodes/
Syntax and Semantic Analyzer/*.c
Syntax and Semantic Analyzer/*.txt
Intermediate Code Generation/*.txt
Intermediate Code Generation/.~*
