
.vscode/
*.out
*.exe
*.yy.c
Assignment 1 (Symbol Table)/*.txt
Assignment 1 (Symbol Table)/test/*
Assignment 1 (Symbol Table)/stress.cpp
Assignment 2 (Lexical Analyzer)/*.c
Assignment 2 (Lexical Analyzer)/*.txt
Assignment 2 (Lexical Analyzer)/command.sh
