.vscode/
*.out
*.o
*.exe
*.yy.c
Assignment 1 (Symbol Table)/*.txt
Assignment 1 (Symbol Table)/test/*
Assignment 1 (Symbol Table)/stress.cpp
Assignment 2 (Lexical Analyzer)/*.txt
Assignment 2 (Lexical Analyzer)/*.c
Assignment 3 (Syntax and Semantic Analyzer)/exampleskeleton/
Assignment 3 (Syntax and Semantic Analyzer)/democodes/
Assignment 3 (Syntax and Semantic Analyzer)/out
Assignment 3 (Syntax and Semantic Analyzer)/y.tab.*
Assignment 3 (Syntax and Semantic Analyzer)/out
Assignment 3 (Syntax and Semantic Analyzer)/noerror.c
Assignment 3 (Syntax and Semantic Analyzer)/parsetree.txt
Assignment 3 (Syntax and Semantic Analyzer)/error.txt
Assignment 3 (Syntax and Semantic Analyzer)/log.txt
Assignment 3 (Syntax and Semantic Analyzer)/script.sh
